

hr{
    height:2px;
    border: none;
    background: black;
}

ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid   #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #FAFAFA;
    box-shadow: 0 5px 0 #DDDDDD;
}

ul li:active{
    box-shadow: none;
    transform: translateY(5px);
}

ul {
    padding-left:0;
}

/* button {
    margin: auto;
    width: 250px;
    height: 65px;
    background-color: blue;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
} */

.next {
    margin: auto;
    width: 150px;
    height: 65px;
    background-color: blue;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.correct{
    background: #dffff2;
    border-color: #00d397;
}

.wrong{
    background: #FFEBEB;
    border-color: #FF4A4A;
}